@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply h-11 rounded-lg border border-gray-300 px-3.5 py-2.5 text-tmd font-regular text-gray-900 outline-none placeholder:text-gray-500 focus:border-primary-300 focus:ring-4 focus:ring-primary-100;
  }

  textarea {
    @apply resize-none rounded-lg border border-gray-300 px-3.5 py-2.5 text-tmd font-regular text-gray-900 outline-none placeholder:text-gray-500 focus:border-primary-300 focus:ring-4 focus:ring-primary-100;
  }

  html,
  body {
    @apply h-full w-full antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  #root {
    @apply h-full w-full;
  }

  .bookmark-card:hover .icon-button {
    @apply flex;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

body.dark ::-webkit-scrollbar-track {
  background: #344054;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #1d2939;
}
